<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>ProyectoFarmacia</display-name>

    <!-- Configuración del Servlet ControladorClientes -->
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>controlador.ControladorClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>

    <!-- Configuración del Servlet ControladorEmpleados -->
    <servlet>
        <servlet-name>ControladorEmpleados</servlet-name>
        <servlet-class>controlador.ControladorEmpleados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleados</servlet-name>
        <url-pattern>/ControladorEmpleados</url-pattern>
    </servlet-mapping>

    <!-- Configuración del Servlet ControladorProductos -->
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración del Servlet UserController -->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controlador.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>CarritoController</servlet-name>
    <servlet-class>controlador.CarritoController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CarritoController</servlet-name>
    <url-pattern>/CarritoController</url-pattern>
</servlet-mapping>

    
    <!-- Página de inicio -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
